.brand {
  padding: var(--main-padding);
}

.brand .brand-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.brand .brand-container div {
  flex: 1;
  max-width: 150px;
  min-width: 120px;
  margin: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand .brand-container div img {
  max-width: 100%;
}
